/*欢迎页 index.tsx*/
.welcomePage{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
.middleContent{
  position: relative;
  top:8%;
  /*border: 2px solid;*/
  height: 87%;
  padding-top: 10%;
}
.welcomeContent {
  margin-top: 20px;
  color: gray;
  font-size: 25px;
}
