/*login*/
  .login, .register{
    position: absolute;
  //background: no-repeat center url("../../asset/imgs/bookStore.jpg");
    width: 100%;
    height: 100%;
  }
.loginForm_title, .registerForm_title{
  position: relative;
  text-align: center;
  height: 8%;
  top:20%;
  font-size: 60px;
  color: rgb(255,165,79);
}
.login_bookImg, .register_bookImg{
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.login_form, .register_form{
/*border: 1px solid;*/
  position: relative;
  top: 20%;
  left: 30%;
  padding: 100px;
  width: 40%;
}

/*userBookList*/
.userBookList{
  position: absolute;
  /*background: #888888;*/
  margin-top: 100px ;
  width: 100%;
}

/*newBookList*/
.newBookList{
  width: 750px;
  /*background: white;*/
  margin: auto;
}
.newBooks{
  display: flex;
  flex-wrap: wrap;
}
.newBookRecord{
  width: 100px;
  height: 160px;
  margin: 10px 25px 80px;
  border: 1px solid gray;
  /*background: gray;*/
}

/*hotBookList*/
.hotBookList{
  width: 750px;
  /*background: white;*/
  margin: auto;
}
