/*login*/
  .login, .register{
    position: absolute;
  //background: no-repeat center url("../../asset/imgs/bookStore.jpg");
    width: 100%;
    height: 100%;
  }
.loginForm_title, .registerForm_title{
  position: relative;
  text-align: center;
  height: 8%;
  top:20%;
  font-size: 60px;
  color: rgb(255,165,79);
}
.login_bookImg, .register_bookImg{
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.login_form, .register_form{
/*border: 1px solid;*/
  position: relative;
  top: 20%;
  left: 30%;
  padding: 100px;
  width: 40%;
}


/*userBookList*/
.userBookList{
  position: fixed;
  /*background: #888888;*/
  width: 100%;
  top: 50px ;
  bottom: 50px;
  overflow-y: auto;
}
/*allTypesBookList*/
.allTypesBookList{
  width: 850px;
  /*background: white;*/
  margin: auto;
}
.differentTypesBookList{
  /*width: 800px;*/
  /*background: white;*/
  margin-top: 40px;
}
.bookRecords{
  display: flex;
  flex-wrap: wrap;
  margin:30px 0;
  /*background: #888888;*/
}
.bookRecord{
  width: 120px;
  margin: 10px 25px 40px;
  /*border: 1px solid black;*/
  /*background: gray;*/
}
.tooltipDescribe{
  width:230px;
  overflow: hidden;
  /*white-space:nowrap;*/ /*只能显示一行*/
  display: -webkit-box;
  text-overflow:ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.bookList_bookCover{
  width: 110px;
  height: 165px;
  border: 1px solid gray;
  cursor: pointer;
}
.bookList_bookTitle{
  font-size: 15px;
  color: #5757a5;
}
.bookList_bookTitle:hover{
  cursor: pointer;
  color: darkblue;
}


/*bookMsg*/
.bookMsg_middle{
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
  /*border: 2px solid;*/
  background: rgba(255, 255, 255, 0.7) ;
  overflow-y: auto;
}
.bookMsg, .bookMsg_comment{
  width: 1000px;
  margin:auto;
  padding: 40px 70px;
  background: rgba(255, 255, 255, 0.5) ;
  border: 1px solid lightgray;
}
.bookMsg_bookTitle{
  font-size:25px;
  color:grey;
  /*border: 1px solid;*/
}
.bookMsg_BookInfos{
  display: flex;
}
.bookMsg_bookCover{
  width: 130px;
  height: 190px;
  border: 1px solid gray;
}
.bookMsg_partBookInfo{
  margin-left: 10px;
}
.bookMsg_partBookInfo div{
  margin: 12px 0;
}
.bookMsg_bookRate{
  margin-left: 350px;
  padding: 20px;
  height: 100px;
  border-left: 1px solid #c6bfbf;
  border-right: 1px solid #c6bfbf;
}
.bookMsg_doRate{
  margin-top: 50px;
}
/*bookMsg_comment*/
.bookMsg_comment{

}
.bookMsg_comment_delete{
  position: absolute;
  width: 30px;
  right: 100px;
  color: gray;
}
.bookMsg_comment_like{
  position: absolute;
  width:60px;
  right:15px;
}
.bookMsg_commentLikeIcon:hover{
  color: red;
}
