/*login*/
  .login, .register{
    position: absolute;
  //background: no-repeat center url("../../asset/imgs/bookStore.jpg");
    width: 100%;
    height: 100%;
  }
.loginForm_title, .registerForm_title{
  position: relative;
  text-align: center;
  height: 8%;
  top:20%;
  font-size: 60px;
  color: rgb(255,165,79);
}
.login_bookImg, .register_bookImg{
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.login_form, .register_form{
/*border: 1px solid;*/
  position: relative;
  top: 20%;
  left: 30%;
  padding: 100px;
  width: 40%;
}


/*userBookList*/
.userBookList{
  position: fixed;
  /*background: #888888;*/
  width: 100%;
  top: 50px ;
  bottom: 50px;
  overflow-y: auto;
}
/*allTypesBookList*/
.allTypesBookList{
  width: 850px;
  /*background: white;*/
  margin: auto;
}
.differentTypesBookList{
  /*width: 800px;*/
  /*background: white;*/
  margin-top: 40px;
}
.bookRecords{
  display: flex;
  flex-wrap: wrap;
  margin:30px 0;
  /*background: #888888;*/
}
.bookRecord{
  width: 120px;
  margin: 10px 25px 40px;
  /*border: 1px solid black;*/
  /*background: gray;*/
}
.tooltipDescribe{
  width:230px;
  overflow: hidden;
  /*white-space:nowrap;*/ /*只能显示一行*/
  display: -webkit-box;
  text-overflow:ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.bookList_bookCover{
  /*width: 110px;*/
  /*height: 165px;*/
  border: 1px solid #c2c0c0;
  cursor: pointer;
}
.bookList_bookTitle{
  font-size: 15px;
  color: #5757a5;
}
.bookList_bookTitle:hover{
  cursor: pointer;
  color: darkblue;
}


/*bookMsg*/
.bookMsg_middle{
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
  /*border: 2px solid;*/
  background: rgba(255, 255, 255, 0.5) ;
  overflow-y: auto;
}
.bookMsg, .bookMsg_comment{
  width: 1000px;
  margin:auto;
  padding: 30px 70px;
  background: rgba(255, 255, 255, 0.7) ;
  border: 1px solid lightgray;
}
.bookMsg_goBack{
  color: cornflowerblue;
  cursor: pointer;
  margin-bottom: 10px;
}
.bookMsg_bookTitle{
  font-size:25px;
  color:darkorange;
  margin-bottom: 15px;
  /*border: 1px solid;*/
}
.bookMsg_BookInfos{
  display: flex;
}
.bookMsg_bookCover{
  /*width: 130px;*/
  /*height: 190px;*/
  border: 1px solid gray;
}
.bookMsg_partBookInfo{
  margin-left: 10px;
  /*border: 1px solid;*/
}
.bookMsg_partBookInfo div{
  margin: 12px 0;
}
.bookMsg_bookRate{
  position: relative;
  left: 300px;
  padding: 20px;
  height: 100px;
  border-left: 1px solid #c6bfbf;
  border-right: 1px solid #c6bfbf;
}
.bookMsg_doRate{
  margin-top: 10px;
}
.bookMsg_writeComment{
  display: flex;
  margin-top: 20px;
}
/*bookMsg_comment*/
.bookMsg_comment{

}
.bookMsg_chooseOrderType a{
  margin: 7px;
}
.bookMsg_comment_update, .bookMsg_comment_delete{
  position: absolute;
  width: 30px;
  color: gray;
}
.bookMsg_comment_update{
  right: 150px;
}
.bookMsg_comment_delete{
  right: 100px;
}
.bookMsg_comment_update:hover, .bookMsg_comment_delete:hover{
  cursor: pointer;
  color: cornflowerblue;
}
.bookMsg_comment_like{
  position: absolute;
  width:60px;
  right:15px;
}
.bookMsg_comment_pagination{
  position: relative;
  left: 270px;
}

/*commonUser*/
.commonUser{
}
.info_middle{
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.commonUser_goBookList{
  position: relative;
  top: 20px;
  margin-left: 230px;
  color: cornflowerblue;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}
.commonUser_content{
  position: relative;
  margin: auto;
  display: flex;
  width: 1500px;
  height: 743px;
  top: 25px;
  background: white;
  border-radius: 20px 20px 0 0;
  border: 1px solid lightgray;
}
.commonUser_content_left{
  flex: 1;
  background: whitesmoke;
  border-radius: 20px 0 0 20px;
}
.commonUser_content_menu{
  margin-top: 100px;
  background: violet;
}
.commonUser_content_right{
  flex: 5;
  /*background: linen;*/
}
.commonUser_user_basicInfo{
  position: relative;
  top: 40px;
  margin: auto;
  width: 800px;
  height: 650px;
  /*background: gold;*/
}
.commonUser_user_changePassword{
  width: 600px;
  margin: auto;
}

/*likeComments*/
/*myComments*/
.comments_list{
  position: relative;
  top: 55px;
  margin: auto;
  width: 1000px;
}
.comments_list_title{
  color:cornflowerblue;
  border-bottom:1px solid #dedddd;
  padding-bottom: 5px;
  font-size:17px
}

/*moreBooks*/
.moreBooks_middle{
  position:fixed;
  top:50px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.moreBooks_Info{
  position: relative;
  width: 1600px;
  height: 750px;
  margin: auto;
  padding: 10px 15px;
  top: 25px;
  background: rgba(255, 255, 255, 0.8);
}
.moreBooks_top{
  position: relative;
  left: 40px;
  top: 10px;
}
.moreBooks_title{
  font-size: 25px;
  margin-right: 5px;
}
